#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  @apply w-[calc(100%-5rem)] min-h-screen bg-background transition-all duration-300 ease-in-out;
  margin-left: 5rem; /* 20 in rem units */
}

.content-container.sidebar-expanded {
  @apply w-[calc(100%-16rem)];
  margin-left: 16rem; /* 64 in rem units */
}

@media (max-width: 1024px) {
  .content-container {
    @apply w-full;
    margin-left: 0;
  }
}